Flask==3.0.3
flask-cors==4.0.0

transformers==4.44.0
torch==2.2.2

pytesseract==0.3.13
pdf2image==1.17.0
Pillow==10.4.0

datasets==2.19.1
rouge-score==0.1.2
bert-score==0.3.13

numpy==1.26.4
tqdm==4.66.4
scikit-learn==1.5.0

sentence-transformers==2.7.0
sentencepiece==0.2.0

python-dotenv==1.0.1